<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <slot></slot>



                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            header: {
                type: String,
                default: "",
            },
        },
        data() {
            return {
                errors: [],
                count: 0,
            }
        },
    }
</script>